<template>
  <div>

    <h1>{{device_id}}</h1>


    <template v-if="device && $store.state.mqtt_connected">

      <div
        v-if="!device.connected"
        class="warning_wrapper">
        <v-icon size="20vmin">mdi-wifi-off</v-icon>
        <div class="text-h5 mt-5">Device disconnected</div>
      </div>

      <div class="buttons_container" v-else>
        <button id="up" type="button" @click="command('up')">
          <v-icon>mdi-arrow-up</v-icon>
        </button>
        <button id="left" type="button" @click="command('left')">
          <v-icon>mdi-arrow-left</v-icon>
        </button>
        <button id="right" type="button" @click="command('right')">
          <v-icon>mdi-arrow-right</v-icon>
        </button>
        <button id="down" type="button" @click="command('down')">
          <v-icon>mdi-arrow-down</v-icon>
        </button>
      </div>
    </template>

    <div
      v-else
      class="warning_wrapper">
      <v-progress-circular size="100" indeterminate  />
      <div class="text-h5 mt-5">Waiting for device</div>
    </div>


  </div>

</template>

<script>
import mqtt_client from '@/mqtt_client.js'

export default {
  name: 'DeviceController',

  components: {

  },
  data(){
    return {
    }
  },
  mounted(){

  },

  methods: {

    command(command){
      mqtt_client.publish(this.command_topic, JSON.stringify({command}))
    },

  },
  computed: {
    device(){
      return this.$store.state.devices.find(device => device.name === this.device_id)
    },
    username(){
      return this.$store.state.current_user.username
    },
    device_id(){
      return this.$route.params.device_name
    },
    status_topic(){
      return `/${this.username}/${this.device_id}/status`
    },
    command_topic(){
      return `/${this.username}/${this.device_id}/command`
    },
  }

}
</script>

<style scoped>


.buttons_container {
  width: 100%;
  display: grid;
  grid-template-areas:
  '. . up . .'
  '. left . right .'
  '. . down . .';
  grid-template-columns: 1fr repeat(3, 25vmin) 1fr ;
  grid-template-rows: repeat(3, 25vmin);
}

#up {
  grid-area: up;
}

#right {
  grid-area: right;
}

#left {
  grid-area: left;
}

#down {
  grid-area: down;
}

button {
  padding: 0;
  border-radius: 100%;
  font-size: 8vmin;
  outline: none;
  background-color: white;
  transition: 0.1s;
  border: 1px solid #222222;
  //border: none;
  color: #222222;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

button:active{
  border-color: #c00000;
  background-color: #c00000;
  color: white;
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-tap-highlight-color: transparent;
}

.warning_wrapper {
  margin-top: 10vmin;
  text-align: center;
}


</style>
